doctype html
html(lang='en')
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="x-apple-disable-message-reformatting")
  body
    p Hello there!,
    p Nothing to be ashamed of - We've been through this too! 
    p
      | To reset your password just tap on  
      a(href=link) this link
      | . 
    p If you didn't request it, don't worry! It'll expire after a few hours.